#root {
    font-family: "IBM Plex Mono", monospace;
    background-color: #e9e6df;
}
.fontTitulos {
    font-family: "Bebas Neue", cursive;
}
.backgroundBotones {
    background-color: #f04523;
}
.linksMenu {
    padding-inline: 10px;
    color: black;
    text-decoration: none;
}
.hazTuPedidoMenu {
    transform: rotate(352deg);
}
.hoverHazTuPedidoMenu:hover {
    color: #e9e6df;
}
.hoverLinksMenu:hover {
    color: #f04523;
}

/* Media queries */
/** SM **/
