#root {
    font-family: "IBM Plex Mono", monospace;
    background-color: #e9e6df;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.mainSection {
    flex-grow: 1;
}
.fontTitulos {
    font-family: "Bebas Neue", cursive;
}
.backgroundBotones {
    background-color: #f04523;
}

/*MENU NAVBAR*/
.linksMenu {
    padding-inline: 10px;
    color: black;
    text-decoration: none;
}
.hazTuPedidoMenu {
    transform: rotate(352deg);
}
.hoverHazTuPedidoMenu:hover {
    color: #e9e6df;
    transition: 300ms;
}
.hoverLoginOutMenu:hover {
    position: relative;
    top: -5px;
}
.hoverLinksMenu:hover {
    color: #f04523;
}

/*PAGINA ADMINISTRADOR*/
.thLargo {
    max-width: 50px;
}
.thLargo2 {
    max-width: 680px;
}

/* MEDIA QUERIES */
/** SM **/
@media all and (max-width: 767px) {
    /*menu navbar*/
    .hazTuPedidoMenu {
        transform: rotate(0deg);
    }
    /*pagina administrador (itemPedido)*/
    .thLargo2 {
        max-width: 250px;
    }
}
/** MD */
@media all and (min-width: 768px) and (max-width: 991px) {
    /*menu navbar*/
    .hazTuPedidoMenu {
        transform: rotate(0deg);
    }
}
/** Registrarse */
.letra{
    font-family: "IBM Plex Mono", monospace;
}
/** Botones */

.boton{
background-color: #f04622;
    padding: 15px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}